.calc
  background: #fff

.calc__inner
  max-width: 1024px
  margin: 0 auto

.calc-form
  margin-bottom: 50px

.calc-table
  display: flex
  margin-bottom: 40px

.calc-column
  padding: 35px 30px 20px
  border-left: 5px solid #f7f7f7
  flex-basis: 30%
  &:last-of-type
    border-right: 5px solid #f7f7f7
  &.calc-column--big
    flex-basis: 40%
  & .calc-form__item
    margin-bottom: 5px
    &:last-of-type
      margin-bottom: 0
    & .select
      margin-bottom: 0
    & .radio__button
      margin-right: 20px
    & .radio__icon
      margin-right: 20px
    &.calc-form__item--input
      display: flex
      align-items: center
      justify-content: space-around
    & .input
      margin: 0
      flex-basis: 70%

.calc-button
  text-align: center
  & .btn
    max-width: 240px

.gmap
  width: 100%
  height: 400px
  margin-bottom: 90px

.calc-input__text
  font: $light 19px $open-sans
  color: #000
  flex-basis: 30%
  margin-right: 10px

@media (max-width: 1024px)
  .calc-form
    max-width: 500px
    margin: 0 auto 50px

  .calc-table
    flex-direction: column

  .calc-column
    border: none
    padding: 20px 15px 20px
    & .calc-form__item.calc-form__item--input
      flex-direction: column
      align-items: flex-start
      margin-bottom: 10px
      & .calc-input__text
        margin-right: 0
        margin-bottom: 5px

  .calc-column:last-of-type
    border: none

