.detail
  background: #fff

.detail__inner
  max-width: 1024px
  margin: 0 auto
  & h1
    margin: 40px 0

.detail__header
  display: flex
  justify-content: space-between
  align-items: center

.detail__label
  display: inline-block
  flex-shrink: 0
  margin-left: 15px
  height: 20px
  border-radius: 3px
  color: #fff
  font: $semi-bold 14px/20px $open-sans
  padding: 0 10px
  cursor: default
  user-select: none
  &.detail__label--new
    background: $color-red
  &.detail__label--stock
    background: #21b075
  &.detail__label--inway
    background: #21b075
  &.detail__label--sold
    background: $color-grey

.detail__price
  display: flex
  align-items: center
  justify-content: space-between
  min-width: 340px

.detail-price__select
  display: flex
  align-items: center

.price-select
  display: inline-block
  cursor: pointer
  user-select: none
  height: 20px
  font: $semi-bold 14px/18px $open-sans
  padding: 0 10px
  border: 1px solid transparent
  color: #9b9b9b
  border-radius: 3px
  transition: all 0.2s ease
  &.price-select--active
    border-color: #000
    color: #000
  & + .price-select
    margin-left: 15px

.detail-price__amount
  font: $bold 30px $open-sans
  color: #000
  margin-left: 30px
  margin-top: -5px
  &.detail-price__amount--secondary
    font-size: 16px
    color: #9b9b9b

.detail__block
  display: flex
  margin-bottom: 0px

.detail-left
  position: relative
  flex-basis: 50%
  width: 50%
  margin: 0 auto
  margin-right: 40px
  & .slide__img
    z-index: 1
  & .swiper-pagination-bullets .swiper-pagination-bullet
    margin: 0 4px
    width: 10px
    height: 10px
    &.swiper-pagination-bullet-active
      background: $color-main
  & .swiper-slide
    height: 300px
  & .slider-button-next,
  & .slider-button-prev
    top: 134px
    z-index: 1
    border-color: $color-main
  & .slider-button-next
    right: 20px
  & .slider-button-prev
    left: 20px
  & .slider-button-next.swiper-button-disabled,
  & .slider-button-prev.swiper-button-disabled
    border-color: $color-main
    opacity: 0.5
  & .swiper
    margin-bottom: 10px
    & .swiper-slide
      cursor: zoom-in
  & .swiper-thumbs
    height: 100px
    & .swiper-slide
      cursor: pointer
      width: 25%
      opacity: 0.4
      height: 100%
      transition: opacity 0.2s ease
    & .swiper-slide-active
      opacity: 1

.detail-gallery
  margin-bottom: 30px

.detail-form__block--mobile
  display: none

.detail-form
  & input
    font-size: 16px
  & textarea
    font-size: 16px

.detail-form__title
  font: $normal 20px $open-sans
  color: #000
  margin-bottom: 15px

.detail-form__item
  margin-bottom: 10px
  &.detail-form__item--btn
    margin-top: 30px
    text-align: right
  &.detail-form__item--error
    .form-input
      border-color: $color-main

.form-error__text
  font: $light 13px $open-sans
  color: $color-main

.detail-form__links
  display: flex
  justify-content: space-between
  margin-top: 10px

.required-input
  margin: 0 5px
  font: $normal 16px/20px $open-sans
  color: #000

.detail-info
  flex-basis: calc(50% - 40px)
  flex-shrink: 0

.detail-info__title
  font: $semi-bold 17px $open-sans
  color: #000
  margin-bottom: 30px
  margin-top: -5px

.detail-info__table
  margin-bottom: 30px

.detail-info__text
  font: $normal 16px $open-sans
  color: #000
  margin-bottom: 15px

.info-table__row
  display: flex
  font: $normal 16px $open-sans
  color: #000
  margin-bottom: 10px

.info-table__name
  margin-right: 5px
  flex-basis: 40%

.info-table__value
  font-weight: $semi-bold
  margin-left: 5px

.detail-gallery__reserve
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  bottom: 0
  left: 0
  right: 0
  top: 0
  z-index: 1
  & img
    max-width: 90%
    
@media (max-width: 1200px)
  .detail__inner
    padding: 0 15px

@media (max-width: 1024px)
  .detail__block
    flex-direction: column

  .detail-left,
  .detail-info
    width: 100%
    flex-basis: 100%

  .detail-form__block
    display: none

  .detail-form__block--mobile
    display: block

  .detail-form
    max-width: 500px

@media (max-width: 767px)
  .detail-left
    & .swiper-thumbs
      height: 60px

  .detail__header
    flex-direction: column
    align-items: flex-start

  .detail__inner h1
    margin: 20px 0

  .detail__price
    margin-bottom: 20px
    min-width: auto
  
  .detail-price__amount
    font-size: 22px
    &.detail-price__amount--secondary
      font-size: 12px