.hero
  position: relative
  &:before
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    content: ''
    background-image: url(https://source.unsplash.com/1920x1080/?cars)
    background-position: center center
    background-size: cover
    filter: grayscale(100%)
    opacity: 0.1
    z-index: -1


.hero__inner
  position: relative
  max-width: 1375px
  margin: 0 auto
  text-align: center
  padding: 50px 0
  &:after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 3px
    background: radial-gradient(circle, $color-main 0%, rgba(0,0,0,0) 40%)

.hero__title
  font: $bold 40px $open-sans
  color: #000
  text-transform: uppercase
  margin-bottom: 50px
  
.hero-forms
  display: flex
  justify-content: space-between
  max-width: 1024px
  margin: 0 auto

.search-car,
.delivery-calc
  border: 5px solid rgba(0, 0, 0, 0.03)
  background: rgba(255, 255, 255, 0.75)
  padding: 20px 30px 40px
  text-align: left

.search-car
  max-width: 600px

.search-car__form
  display: flex


.search-car__all
  font: $normal 23px $open-sans
  color: #848484
  text-decoration: underline
  &:hover
    text-decoration: none

.search-car__auctions
  flex-basis: 50%
  padding-right: 20px

.search-car__options
  flex-basis: 50%


.delivery-calc
  max-width: 350px

.hero-form__title
  font: $normal 20px $open-sans
  color: #000
  margin-bottom: 35px

.news
  position: relative
  max-width: 1375px
  margin: 0 auto
  padding-bottom: 100px
  text-align: center
  &:after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 3px
    background: radial-gradient(circle, $color-main 0%, rgba(0,0,0,0) 40%)

.news__inner
  position: relative
  margin: 0 auto
  max-width: 1024px

.news__card
  display: flex
  position: relative

.news__preview
  position: relative
  display: flex
  width: 460px
  height: 215px
  padding-left: 45px
  margin-right: 40px
  flex-direction: column
  justify-content: center
  align-items: flex-start
  text-align: left
  overflow: hidden

.news-preview__img
  position: absolute
  width: 100%
  height: 100%
  top: 0
  right: 0
  bottom: 0
  left: 0
  object-fit: cover
  z-index: -2

.news-preview__main-text
  font: italic $bold 25px/1 $open-sans
  color: #fff
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5)

.news-preview__sub-text
  font: $normal 25px/1 $open-sans
  color: #fff
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5)

.news-preview__statistic
  position: absolute
  bottom: 15px
  right: 15px
  font: $light 20px $open-sans
  color: #fff
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5)

.news-stat
  display: inline-flex
  justify-content: center
  align-items: center
  &:last-of-type
    margin-left: 25px

.news-stat__icon
  margin-right: 5px

.news__detail
  position: relative
  max-width: 500px
  text-align: left

.news-detail__date
  font: italic $normal 15px $open-sans
  color: #a1a1a1
  margin-top: -5px

.news-detail__paragraph
  position: relative
  font: $normal 15px $open-sans
  color: #000
  min-height: 40px
  max-height: 160px
  overflow: hidden
  &:after
    position: absolute
    bottom: 0
    left: 0
    right: 0
    content: ''
    height: 25px
    background: linear-gradient(transparent, white)

.news-detail__buttons
  position: absolute
  bottom: 0
  left: 0

.about
  text-align: center
  padding-top: 40px
  background: url(~/img/about.jpg)
  background-size: cover

.about__text
  max-width: 740px
  margin: 0 auto
  font: $normal 15px $open-sans
  color: #fff

.about__arrow
  margin: 25px auto
  border: solid $color-main
  border-width: 0 3px 3px 0
  display: inline-block
  padding: 10px
  transform: rotate(45deg)
  cursor: pointer

.reviews
  text-align: center
  padding-top: 40px
  margin-bottom: 100px

.reviews__inner
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  max-width: 925px
  margin: 0 auto

.review__card
  position: relative
  width: 400px
  min-height: 114px
  padding-left: 140px
  text-align: left
  margin-bottom: 30px
  &:nth-child(odd)
    margin-right: 125px

.review-card__avatar
  display: flex
  position: absolute
  left: 0
  top: 0
  justify-content: center
  align-items: center
  font-size: 60px
  width: 114px
  height: 114px
  border: 2px solid $color-main
  border-radius: 50%
  & path
    fill: url(#user-grad)

.review-card__user,
.review-card__date
  font: italic $normal 15px $open-sans
  color: #6d6d6d

.review-card__user
  margin-right: 10px


.review-card__text
  position: relative
  display: -webkit-box
  font: italic $normal 15px $open-sans
  margin-top: 5px
  color: #000
  overflow: hidden
  text-overflow: ellipsis
  line-height: 18px
  max-height: 90px
  -webkit-line-clamp: 5
  -webkit-box-orient: vertical

@media (max-width: 1024px)
  .hero-forms
    justify-content: center
  
  .search-car
    max-width: 350px
    margin-right: 25px

  .search-car__form
    display: block

  .search-car__auctions
    margin-bottom: 10px

  .hero-form__title
    margin-bottom: 15px

  .news__card
    padding: 0 15px

  .reviews
    margin-bottom: 50px
    & svg
      position: absolute

  .reviews__inner
    max-width: 830px

  .review__card
    margin-right: 30px
    &:nth-child(odd)
      margin-right: 0
    &:last-of-type
      margin-bottom: 0

  .review-card__avatar
    left: 15px

@media (max-width: 840px)
  .reviews__inner
    justify-content: center

  .review__card
    width: 100%
    padding: 0 15px 0 155px
    margin: 0 auto 20px
    &:nth-child(odd)
      margin-right: 0
    &:last-of-type
      margin-bottom: 0

  .review-card__avatar
    left: 15px

@media (max-width: 767px)
  .hero__inner
    padding: 40px 0

  .hero__title
    font-size: 30px
    margin-bottom: 40px

  .hero-forms
    flex-direction: column

  .search-car
    margin: 0 auto 25px

  .delivery-calc
    margin: 0 auto

  .about
    padding: 40px 15px 0

  .news
    padding-bottom: 40px

  .news__card
    flex-direction: column

  .news__preview
    width: auto
    margin: 0 -15px 10px -15px

  .news-preview__main-text,
  .news-preview__sub-text
    font-size: 20px

  .news-preview__statistic
    font-size: 16px

  .news-detail__paragraph
    margin-bottom: 10px

  .news-detail__buttons
    position: relative

  .news-preview__statistic
    font-size: 15px

  .reviews
    margin-bottom: 40px

