.search
  background: #fff
  max-width: 1024px
  margin: 0 auto

.search__inner
  display: flex

.search__filters
  flex-basis: 315px
  margin-right: 40px
  & .search-car
    width: 100%
    margin-bottom: 35px
    & .hero-form__title
      text-transform: uppercase
      margin-bottom: 20px
    & .search-car__auctions
      padding-right: 0
      margin-bottom: 35px
    & .checkbox-label--auctions
      margin-bottom: 5px
    & .search-car__form
      flex-direction: column
  & .delivery-calc
    width: 100%
    margin-bottom: 90px

.search__result
  max-width: 712px


.result__list
  width: 100%
  margin-bottom: 150px

.result__item
  display: flex
  position: relative
  margin-bottom: 20px
  background: #fff
  &:nth-child(odd)
    background: #f6f6f6

.result-item__photo
  position: relative
  width: 230px

.result-item__info
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 482px
  padding: 15px

.result__photo
  display: block
  width: 100%
  height: 100%
  object-fit: cover

.result__head
  display: flex
  justify-content: space-between
  & .detail__label
    margin-left: 0
    margin-top: 5px
    margin-bottom: 5px

.result-head__left
  flex-basis: 272px

.result-head__right
  flex-basis: 180px
  flex-shrink: 0
  text-align: right
  & .detail-price__amount
    margin-left: 0
    

.result__date
  position: absolute
  right: 0
  top: 0
  font: $light 10px $open-sans
  color: #b9b9b9

.result__name
  display: block
  font: $bold 20px $open-sans
  color: #000

.result__code
  font: $light 14px $open-sans
  color: #000
  margin-bottom: 10px
  overflow: hidden
  text-overflow: ellipsis

.result-head__currency
  text-align: right
  margin-top: 5px

.result__body
  display: flex
  justify-content: space-between
  align-items: flex-end


.detail-table
  font: $normal 14px $open-sans
  color: $color-black
  margin-right: 10px
  & tr
    & td:first-of-type
      padding-right: 5px

.result__buttons
  flex-shrink: 0

.pagination
  display: flex
  justify-content: flex-end
  align-items: center
  margin-bottom: 40px

.pagination__next,
.pagination__prev
  display: inline-block
  position: relative
  width: 24px
  height: 24px
  border-radius: 6px
  background: #000
  color: #fff
  cursor: pointer
  &:hover
    background: lighten(#000, 20%)
  &:after
    content: ''
    position: absolute
    left: 9px
    top: 7px
    width: 0
    height: 0
    border-top: 5px solid transparent
    border-bottom: 5px solid transparent
.pagination__next
  &.pagination__next--inactive
    background: lighten(#000, 70%)
    cursor: default
  &:after
    border-left: 6px solid #fff

.pagination__prev
  margin-right: 10px
  &.pagination__prev--inactive
    background: lighten(#000, 50%)
    cursor: default
  &:after
    border-right: 6px solid #fff

.pagination__list
  margin-right: 10px

.pagination__item
  box-sizing: content-box
  display: inline-block
  width: 22px
  height: 22px
  margin-right: 5px
  font: $normal 13px/22px $open-sans
  text-align: center
  color: #737373
  border: 2px solid #dcdcdc
  border-radius: 6px
  transition: border-color 0.2s ease
  user-select: none
  cursor: pointer
  &:last-of-type
    margin-right: 0
  &.pagination__item--active
    border-color: $color-main
    background: $color-main
    color: #fff
    cursor: default
    pointer-events: none
  &:hover
    border-color: darken(#dcdcdc, 20%)

.filter-overlay
  display: none
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(0,0,0,0.7)
  z-index: 6
  &.filter-overlay--show
    display: block

.filter__mobile
  display: none

@media (max-width: 1024px)
  .filter__mobile
    position: sticky
    top: 0
    display: flex
    align-items: center
    justify-content: center
    height: 40px
    background: $color-main
    font: $normal 14px $open-sans
    color: #fff
    z-index: 2

  .search__filters
    position: fixed
    max-width: 70%
    top: 0
    bottom: 0
    left: -70%
    transition: left 0.2s ease
    overflow-y: scroll
    background: #fff
    z-index: 7
    & .checkbox-label--auctions
      & .checkbox__text
        font-size: 20px

  .search__result
    flex-basis: 100%
    max-width: none
    & .pagination
      justify-content: center

  .result__list
    margin-bottom: 40px    

  .result-item__photo
    flex-shrink: 0
    width: 50%
    max-height: 300px
    
  .result-item__info
    width: 50%

  .result__head
    flex-direction: column
    margin-bottom: 15px

  .result__head .detail__label
    margin-right: 0

  .result-head__left,
  .result-head__right
    flex-basis: auto

  .result-head__right .detail-price__amount
    margin-left: 0
    text-align: left


  .result-head__currency
    text-align: left

  .result__body
    flex-direction: column
    align-items: flex-start
    margin-right: 0

  .result__details
    margin-bottom: 10px
    max-height: 120px
    overflow: hidden
    
  .detail-table
    font-size: 14px
    line-height: 20px


  .search__filters--show
    left: 0

  .search-car,
  .delivery-calc
    border: none
    
@media (max-width: 767px)
  .result__item
    flex-direction: column

  .result-item__photo,
  .result-item__info
    width: 100%
  
  .result-item__photo
    height: 250px


@media (max-width: 500px)
  .result-item__photo
    height: 200px