<template>
  <div class="multiselect">
    <div @click.prevent="open" :class="[{'multiselect__title--open': multiselect.show, 'multiselect__title--selected': selected.length},'multiselect__title']">{{ multiselect.name }}</div>
    <ul v-if="multiselect.show" class="multiselect__items">
      <li v-for="(item,index) in multiselect.items" :key="index" class="multiselect__item">
        <label :for="item.id" class="multiselect__label">
          <input v-model="selected" :value="item.name" :id="item.id" type="checkbox">
          <span class="multiselect__name">{{ item.name }}</span>
          <span class="multiselect__checkbox"></span>
        </label>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        multiselect: this.multiselectInit,
        selected: []
        // show: false,
        // name: 'Тип',
        // items: [
        //   {
        //     name: 'Легковой',
        //     id: 1
        //   },
        //   {
        //     name: 'Грузовой',
        //     id: 2
        //   },
        //   {
        //     name: 'Мотоцикл',
        //     id: 3
        //   },
        // ]
      }
    },
    props: {
      multiselectInit: {
        type: Object
      },
    },
    methods: {
      open() {
        this.multiselect.show = !this.multiselect.show
      }
    },
  }
</script>