<template>
  <div class="calc">
    <div class="calc__inner">
      <h1 class="title">
        <span class="title__icon title__icon--search">
          <font-awesome-icon :icon="['fas', 'calculator']" class="" />
        </span>Калькулятор доставки</h1>
      <div class="calc-form">
        <div class="calc-table">
          <div class="calc-column">
            <h2 class="calc__title">Место назначения</h2>
            <div v-for="(select, index) in calcSelects" :key="index" class="calc-form__item">
              <select v-model="select.selected" :class="[{'select--selected': select.selected},'select']">
                <option class="option" disabled value="">{{ select.name }}</option>
                <option class="option" v-for="(option, index) in select.items" :key="index">{{ option.name }}</option>
              </select>
            </div>
          </div>
          <div class="calc-column calc-column--big">
            <h2 class="calc__title">Цена за один автомобиль</h2>
            <div class="calc-form__item">
              <label for="radio-2-1" class="radio__label">
                <input id="radio-2-1" type="radio" name="col2" value="car">
                <span class="radio__button"></span>
                <span class="radio__icon">
                  <font-awesome-icon :icon="['fas', 'car-side']" />
                </span>
                <span class="radio__text">Легковой</span>
              </label>
            </div>
            <div class="calc-form__item">
              <label for="radio-2-2" class="radio__label">
                <input id="radio-2-2" type="radio" name="col2" value="moto">
                <span class="radio__button"></span>
                <span class="radio__icon">
                  <font-awesome-icon :icon="['fas', 'motorcycle']" />
                </span>
                <span class="radio__text">Мотоцикл</span>
              </label>
            </div>
            <div class="calc-form__item calc-form__item--input">
              <span class="calc-input__text">LGekjlkrjwe rwelkj</span>
              <input type="text" class="input input--delivery" value="3000$" disabled>
            </div>
            <div class="calc-form__item calc-form__item--input">
              <span class="calc-input__text">ewerewrwe ewrewr ewr ewr ewr </span>
              <input type="text" class="input input--delivery" value="3000$" disabled>
            </div>
            <div class="calc-form__item calc-form__item--input">
              <span class="calc-input__text">Итого</span>
              <input type="text" class="input input--delivery" value="3000$" disabled>
            </div>
          </div>
          <div class="calc-column">
            <h2 class="calc__title">Тип</h2>
            <div class="calc-form__item">
              <label for="radio-1" class="radio__label">
                <input id="radio-1" type="radio" name="type" value="car">
                <span class="radio__button"></span>
                <span class="radio__icon">
                  <font-awesome-icon :icon="['fas', 'car-side']" />
                </span>
                <span class="radio__text">Легковой</span>
              </label>
            </div>
            <div class="calc-form__item">
              <label for="radio-2" class="radio__label">
                <input id="radio-2" type="radio" name="type" value="moto">
                <span class="radio__button"></span>
                <span class="radio__icon">
                  <font-awesome-icon :icon="['fas', 'motorcycle']" />
                </span>
                <span class="radio__text">Мотоцикл</span>
              </label>
            </div>
            <div class="calc-form__item">
              <label for="radio-3" class="radio__label">
                <input id="radio-3" type="radio" name="type" value="van">
                <span class="radio__button"></span>
                <span class="radio__icon">
                  <font-awesome-icon :icon="['fas', 'shuttle-van']" />
                </span>
                <span class="radio__text">Микроавтобус</span>
              </label>
            </div>
            <div class="calc-form__item">
              <label for="radio-4" class="radio__label">
                <input id="radio-4" type="radio" name="type" value="truck">
                <span class="radio__button"></span>
                <span class="radio__icon">
                  <font-awesome-icon :icon="['fas', 'truck']" />
                </span>
                <span class="radio__text">Грузовик</span>
              </label>
            </div>
            <div class="calc-form__item">
              <label for="radio-5" class="radio__label">
                <input id="radio-5" type="radio" name="type" value="train">
                <span class="radio__button"></span>
                <span class="radio__icon">
                  <font-awesome-icon :icon="['fas', 'train']" />
                </span>
                <span class="radio__text">Поезд</span>
              </label>
            </div>
          </div>
        </div>
        <div class="calc-button">
          <a href="#" class="btn btn--black">Рассчитать</a>
        </div>
      </div>
    </div>
    <div id="gmap" class="gmap"></div>
  </div>
</template>

<script>
  import BaseMultiselect from './BaseMultiselect.vue';

  export default {
    name: 'Calc',
    data() {
      return {
        vueGMap: null,
        // Basically, making an anon function so that Vue 
        // doesn't try to access google.maps until it's actually required
        globalOptions: () => ({
          zoom: 4,
          center: {
            lat: -33,
            lng: 151
          },
          mapTypeControl: true,
          mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
            mapTypeIds: ['roadmap', 'terrain']
          }
        }),
        calcSelects: [{
            name: 'Аукцион',
            selected: '',
            items: [{
                name: 'IAAI',
                id: 'iaai'
              },
              {
                name: 'COPART',
                id: 'copart'
              },
            ]
          },
          {
            name: 'Местонахождение',
            selected: '',
            items: [{
                name: 'США',
                id: 'us'
              },
              {
                name: 'Канада',
                id: 'ca'
              },
              {
                name: 'Япония',
                id: 'jp'
              },
            ]
          },
          {
            name: 'Откуда',
            selected: '',
            items: [{
                name: 'США',
                id: 'us'
              },
              {
                name: 'Канада',
                id: 'ca'
              },
              {
                name: 'Япония',
                id: 'jp'
              },
            ]
          },
          {
            name: 'Откуда',
            selected: '',
            items: [{
                name: 'США',
                id: 'us'
              },
              {
                name: 'Канада',
                id: 'ca'
              },
              {
                name: 'Япония',
                id: 'jp'
              },
            ]
          },
          {
            name: 'Страна',
            selected: '',
            items: [{
                name: 'США',
                id: 'us'
              },
              {
                name: 'Канада',
                id: 'ca'
              },
              {
                name: 'Япония',
                id: 'jp'
              },
            ]
          }
        ]
      }
    },
    components: {
      'base-multiselect': BaseMultiselect
    },
    mounted() {
      this.createGoogleMaps().then(this.initGoogleMaps, this.googleMapsFailedToLoad)
    },
    methods: {
      createGoogleMaps() {
        return new Promise((resolve, reject) => {
          let gmap = document.createElement('script')
          gmap.src = 'https://maps.googleapis.com/maps/api/js?v=3'
          gmap.type = 'text/javascript'
          gmap.onload = resolve
          gmap.onerror = reject
          document.body.appendChild(gmap)
        })
      },
      initGoogleMaps() {

        // You could do this as an easier alternative 
        const localOptions = {
          zoom: 4,
          center: {
            lat: -33,
            lng: 151
          },
          mapTypeControl: true,
          mapTypeControlOptions: {
            style: () => window.google.maps.MapTypeControlStyle.DROPDOWN_MENU,
            mapTypeIds: ['roadmap', 'terrain']
          }
        }
        this.vueGMap = new google.maps.Map(document.getElementById('gmap'), this.globalOptions());
      },
      googleMapsFailedToLoad() {
        this.vueGMap = 'Error occurred';
      }
    },
  }
</script>