<template>
  <div class="detail">
    <div class="detail__inner">
      <div class="detail__header">
        <h1 class="title">
          <span class="title__icon title__icon--search">
            <font-awesome-icon :icon="['fas', 'car']" class="" />
          </span>{{ car.name }}
          <span class="detail__label detail__label--stock">
            В наличии
          </span>
          <span class="detail__label detail__label--sold">
            Продан
          </span>
        </h1>
        <div class="detail__price">
          <div class="detail-price__select">
            <span @click="currencyKzt" :class="[{ 'price-select--active' : currency === 'kzt'},'price-select']">KZT</span>
            <span @click="currencyUsd" :class="[{ 'price-select--active' : currency === 'usd'},'price-select']">USD</span>
          </div>
          <span v-if="this.currency === 'usd'" class="detail-price__amount">{{ prices.usd }}</span>
          <span v-if="this.currency === 'kzt'" class="detail-price__amount">{{ prices.kzt }}</span>
        </div>
      </div>
      <div class="detail__block">
        <div class="detail-left">
          <div class="detail-gallery">
            <swiper v-viewer="viewerOption" class="swiper" :options="swiperOption" ref="swiper">
              <swiper-slide v-for="(image, index) in car.images" :key="index">
                <img :src="image.srcThumb" alt="" class="slide__img" :data-src="image.src">
                <div class="detail-gallery__reserve"><img src="img/reserve.png" alt=""></div>
              </swiper-slide>
            </swiper>
            <div class="slider-button-next" slot="button-next"></div>
            <div class="slider-button-prev" slot="button-prev"></div>
            <swiper class="swiper-thumbs" :options="swiperOptionThumbs" ref="swiperThumbs">
              <swiper-slide v-for="(image, index) in car.images" :key="index">
                <img :src="image.srcThumb" class="slide__img">
              </swiper-slide>
            </swiper>
          </div>
          <div class="detail-form__block">
            <p class="detail-form__title">Форма заказа</p>
            <form action="" class="detail-form">
              <div class="detail-form__item">
                <label for="name" class="form-label">Имя<span class="required-input">*</span></label>
                <input id="name" class="form-input" type="text" required>
              </div>
              <div class="detail-form__item detail-form__item--error">
                <label for="email" class="form-label">Email<span class="required-input">*</span></label>
                <input id="email" class="form-input" type="email" required>
                <p class="form-error__text">Неверный пароль</p>
              </div>
              <div class="detail-form__item">
                <label for="phone" class="form-label">Телефон<span class="required-input">*</span></label>
                <input id="phone" class="form-input" type="phone" required>
              </div>
              <div class="detail-form__item">
                <label for="message" class="form-label">Сообщение</label>
                <textarea id="message" cols="30" rows="10" class="form-textarea"></textarea>
              </div>
              <div class="detail-form__item">
                <span class="required-input">* Поля необходимые для заполнения</span>
              </div>
              <div class="detail-form__item detail-form__item--btn">
                <button class="btn btn--blue">Отправить запрос</button>
              </div>
            </form>
          </div>
        </div>
        <div class="detail-info">
          <p class="detail-info__title">Детальная информация</p>
          <div class="detail-info__table">
            <div class="info-table__row" v-for="(param,index) in car.params" :key="index">
              <div class="info-table__name">{{ param.name }}</div>
              <div class="info-table__value">{{ param.value }}</div>
            </div>
          </div>
          <p class="detail-info__text">{{ car.info }}</p>
        </div>
        <div class="detail-form__block detail-form__block--mobile">
            <p class="detail-form__title">Форма заказа</p>
            <form action="" class="detail-form">
              <div class="detail-form__item">
                <label for="name" class="form-label">Имя<span class="required-input">*</span></label>
                <input id="name" class="form-input" type="text" required>
              </div>
              <div class="detail-form__item detail-form__item--error">
                <label for="email" class="form-label">Email<span class="required-input">*</span></label>
                <input id="email" class="form-input" type="email" required>
                <p class="form-error__text">Неверный пароль</p>
              </div>
              <div class="detail-form__item">
                <label for="phone" class="form-label">Телефон<span class="required-input">*</span></label>
                <input id="phone" class="form-input" type="phone" required>
              </div>
              <div class="detail-form__item">
                <label for="message" class="form-label">Сообщение</label>
                <textarea id="message" cols="30" rows="10" class="form-textarea"></textarea>
              </div>
              <div class="detail-form__item">
                <span class="required-input">* Поля необходимые для заполнения</span>
              </div>
              <div class="detail-form__item detail-form__item--btn">
                <button class="btn btn--blue">Отправить запрос</button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Detail',
    data() {
      return {
        currency: 'kzt',
        prices: {
          kzt: '16 400 000 ₸',
          usd: '13 700 $',
        },
        swiperOption: {
          slidesPerView: 1,
          spaceBetween: 10,
          // loop: true,
          // loopedSlides: 5,
          navigation: {
            nextEl: '.slider-button-next',
            prevEl: '.slider-button-prev',
          },
        },
        swiperOptionThumbs: {
          spaceBetween: 10,
          slidesPerView: 4,
          touchRatio: 0.2,
          centeredSlides: true,
          // loop: true,
          // loopedSlides: 5, //looped slides should be the same
          slideToClickedSlide: true,
        },
        viewerOption: {
          url: 'data-src'
        },
        car: {
          name: 'Lexus LX470 ',
          info: 'Повседневная практика показывает, что рамки и место обучения кадров позволяет выполнять важные задания по разработке системы массового участия.Равным образом дальнейшее развитие различных форм деятельности требуют определения и уточнения системы массового участия.Таким образом, рамки и место обучения кадров играет важную роль в формировании дальнейших направлений развития.Таким образом, постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу специалистов участие в формировании системы массового участия.С другой стороны, постоянный количественный рост и сфера нашей активности требуют от нас анализа существенных финансовых и административных условий.Таким образом, реализация намеченных плановых заданий играет важную роль в формировании существенных финансовых и административных условий.Не следует, однако, забывать, что постоянный количественный рост и сфера нашей активности способствует подготовке и реализации позиций, занимаемых участниками в отношении поставленных задач.Равным образом новая модель организационной деятельности обеспечивает широкому кругу специалистов участие в формировании системы массового участия.Товарищи, новая модель организационной деятельности обеспечивает широкому кругу специалистов участие в формировании позиций, занимаемых участниками в отношении поставленных задач.Не следует, однако, забывать, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке системы массового участия.',
          params: [{
              name: 'Год:',
              value: '2007/03'
            },
            {
              name: 'Марка:',
              value: 'LEXUS'
            },
            {
              name: 'Модель:',
              value: 'LX470'
            },
            {
              name: 'VIN:',
              value: 'JTJHT00W574026317'
            },
            {
              name: 'Цвет кузова:',
              value: 'серый'
            },
            {
              name: 'Цвет салона:',
              value: 'бежевый'
            },
            {
              name: 'V:',
              value: '4,7'
            },
            {
              name: 'Привод:',
              value: 'полный'
            },
            {
              name: 'Пробег:',
              value: '188705'
            },
            {
              name: 'Цена:',
              value: '19000'
            },
          ],
          images: [{
              src: '/img/cars/lexus-lx470-grey/01-big.jpg',
              srcThumb: '/img/cars/lexus-lx470-grey/thumb/01-thumb.jpg'
            },
            {
              src: '/img/cars/lexus-lx470-grey/02-big.jpg',
              srcThumb: '/img/cars/lexus-lx470-grey/thumb/02-thumb.jpg'
            },
            {
              src: '/img/cars/lexus-lx470-grey/03-big.jpg',
              srcThumb: '/img/cars/lexus-lx470-grey/thumb/03-thumb.jpg'
            },
            {
              src: '/img/cars/lexus-lx470-grey/04-big.jpg',
              srcThumb: '/img/cars/lexus-lx470-grey/thumb/04-thumb.jpg'
            },
            {
              src: '/img/cars/lexus-lx470-grey/05-big.jpg',
              srcThumb: '/img/cars/lexus-lx470-grey/thumb/05-thumb.jpg'
            },
          ]
        }
      }
    },
    mounted() {
      this.$nextTick(() => {
        const swiper = this.$refs.swiper.swiper
        const swiperThumbs = this.$refs.swiperThumbs.swiper
        swiper.controller.control = swiperThumbs
        swiperThumbs.controller.control = swiper
      })
    },
    methods: {
      currencyUsd() {
        this.currency = 'usd'
      },
      currencyKzt() {
        this.currency = 'kzt'
      }
    },
    components: {

    }
  }
</script>