<template>
  <div class="auth-page">
    <div class="auth-page__inner">
      <h1 class="title">
        <span class="title__icon title__icon--search">
          <font-awesome-icon :icon="['fas', 'user-alt']" class="" />
        </span>Вход
      </h1>
    <div class="auth">
      <form class="auth-form">
        <div class="auth-form__item">
          <label for="email" class="form-label">Email</label>
          <input id="email" class="form-input" type="text">
        </div>
        <div class="auth-form__item auth-form__item--error">
          <label for="email-error" class="form-label">Email</label>
          <input id="email-error" class="form-input" type="text">
          <p class="form-error__text">Неверный пароль</p>
        </div>
        <div class="auth-form__item">
          <label for="pass" class="form-label">Пароль</label>
          <input id="pass" class="form-input" type="password">
        </div>
        <div class="auth-form__item auth-form__item--btn">
          <button class="btn btn--auth">Вход</button>
          <div class="auth-form__links">
            <a class="pass-recovery__link" href="#">Регистрация</a>
            <a class="pass-recovery__link" href="#">Забыли пароль?</a>
          </div>
        </div>
      </form>
    </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Login',
    data() {
      return {

      }
    },
    components: {},
  }
</script>