<template>
  <div class="auth-page">
    <div class="auth-page__inner">
      <h1 class="title">
        <span class="title__icon title__icon--search">
          <font-awesome-icon :icon="['fas', 'unlock-alt']" class="" />
        </span>Восстановление пароля
      </h1>
    <p class="auth__text">
      Для восстановления пароля введите ваш email в поле. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolores quasi ipsa officiis explicabo architecto quia exercitationem quod molestiae veritatis.
    </p>
    <div class="auth">
      <form class="auth-form">
        <div class="auth-form__item">
          <label for="email" class="form-label">Email</label>
          <input id="email" class="form-input" type="text">
        </div>
        <div class="auth-form__item auth-form__item--error">
          <label for="email-error" class="form-label">Email</label>
          <input id="email-error" class="form-input" type="text">
          <p class="form-error__text">Пользователя с данной почтой не существует</p>
        </div>
        <div class="auth-form__item auth-form__item--btn">
          <button class="btn btn--auth">Восстановить пароль</button>
        </div>
      </form>
    </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'PassRecovery',
    data() {
      return {

      }
    },
    components: {},
  }
</script>