<template>
  <div class="reviews-page">
    <div class="reviews-page__inner">
      <h1 class="title">
        <span class="title__icon title__icon--search">
          <font-awesome-icon :icon="['fas', 'check']" class="" />
        </span>Отзывы</h1>
    </div>
    <div class="reviews__list">
      <svg width="0" height="0" style="position:absolute">
        <linearGradient id="user-grad" x1="50%" y1="100%" x2="50%" y2="0%">
          <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:0" />
          <stop offset="100%" style="stop-color:rgb(139,139,139);stop-opacity:1" />
        </linearGradient>
      </svg>
      <div class="review__item">
        <div class="review-item__inner">
          <div class="review-item__avatar">
            <span class="review-avatar">
              <font-awesome-icon :icon="['fas', 'user-alt']"></font-awesome-icon>
            </span>
          </div>
          <div class="review-item__content">
            <div class="review-item__head">
              <div class="review-item__info">
                <span class="review-item__name">user</span>
                <span class="review-item__date">26.34.2567</span>
              </div>
            </div>
            <div class="review-item__text">
              <p>Американское направление по пригону автомобилей продолжает набирать обороты</p>
            </div>
          </div>
        </div>
      </div>
      <div class="review__item">
        <div class="review-item__inner">
          <div class="review-item__avatar">
            <span class="review-avatar">
              <font-awesome-icon :icon="['fas', 'user-alt']"></font-awesome-icon>
            </span>
          </div>
          <div class="review-item__content">
            <div class="review-item__head">
              <div class="review-item__info">
                <span class="review-item__name">user</span>
                <span class="review-item__date">26.34.2567</span>
              </div>
            </div>
            <div class="review-item__text">
              <p>Американское направление по пригону автомобилей продолжает набирать обороты</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto quaerat deleniti officia quia iure
                quae, esse pariatur tenetur quo!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="review__item">
        <div class="review-item__inner">
          <div class="review-item__avatar">
            <span class="review-avatar">
              <font-awesome-icon :icon="['fas', 'user-alt']"></font-awesome-icon>
            </span>
          </div>
          <div class="review-item__content">
            <div class="review-item__head">
              <div class="review-item__info">
                <span class="review-item__name">user</span>
                <span class="review-item__date">26.34.2567</span>
              </div>
            </div>
            <div class="review-item__text">
              <p>Американское направление по пригону автомобилей продолжает набирать обороты</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dicta distinctio numquam. Nemo esse distinctio
                enim dolorem, at corporis deserunt et excepturi recusandae earum necessitatibus quaerat ratione libero, laboriosam
                quidem asperiores alias voluptas reiciendis labore omnis obcaecati. Nulla vero laboriosam voluptates porro
                praesentium pariatur obcaecati eaque, officia rerum facilis esse.</p>
            </div>
          </div>
        </div>
        <div class="review-item__inner review-item__inner--answer">
          <div class="review-item__avatar">
            <span class="review-avatar review-avatar--exist">
              <img src="https://source.unsplash.com/150x150/?avatar" alt="">
            </span>
          </div>
          <div class="review-item__content">
            <div class="review-item__head">
              <div class="review-item__info">
                <span class="review-item__name">user</span>
                <span class="review-item__date">26.34.2567</span>
              </div>
            </div>
            <div class="review-item__text">
              <p>Американское направление по пригону автомобилей продолжает набирать обороты</p>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, vitae quod soluta cupiditate voluptas ipsam
                rem cum eos natus officia pariatur labore, commodi necessitatibus maxime tempora? Voluptate ducimus eveniet
                ad laborum enim repellendus assumenda corrupti vitae suscipit neque placeat dolor obcaecati consectetur culpa
                numquam natus eius perferendis quis iusto aspernatur facilis consequatur, tempora temporibus? Exercitationem
                cumque minima dicta nesciunt delectus voluptatibus quod possimus labore, sapiente ex placeat omnis nam id
                porro quasi blanditiis laborum neque corrupti ratione repudiandae. Assumenda dolorum exercitationem consequuntur
                labore eveniet enim quae. Numquam unde illum dolore eos asperiores minus atque eligendi, aperiam quis ea
                nemo dolor!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="review__item">
        <div class="review-item__inner">
          <div class="review-item__avatar">
            <span class="review-avatar">
              <font-awesome-icon :icon="['fas', 'user-alt']"></font-awesome-icon>
            </span>
          </div>
          <div class="review-item__content">
            <div class="review-item__head">
              <div class="review-item__info">
                <span class="review-item__name">user</span>
                <span class="review-item__date">26.34.2567</span>
              </div>
            </div>
            <div class="review-item__text">
              <p>Американское направление по пригону автомобилей продолжает набирать обороты</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto quaerat deleniti officia quia iure
                quae, esse pariatur tenetur quo!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews__pagination">
      <div class="pagination">
            <span class="pagination__prev"></span>
            <ul class="pagination__list">
              <li class="pagination__item pagination__item--active">1</li>
              <li class="pagination__item">2</li>
              <li class="pagination__item">3</li>
              <li class="pagination__item">4</li>
              <li class="pagination__item">5</li>
            </ul>
            <span class="pagination__next pagination__next--inactive"></span>
          </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Reviews',
    data() {
      return {

      }
    },
    components: {},
  }
</script>