<template>
  <header>
    <div class="header__inner">
      <a href="#" class="logo">
        <img src="/img/logo.svg" alt="" class="logo__img">
        <span class="logo__text">Auction
          <span class="text--orange">Expert</span>
        </span>
      </a>
      <div class="input__block">
        <input placeholder="Поиск" type="text" class="input--search">
        <font-awesome-icon :icon="['fas', 'search']" class="input__icon" />
      </div>
      <a href="#" class="btn btn--login">
        <span class="btn__icon"><font-awesome-icon :icon="['far', 'user']"></font-awesome-icon></span>
        Войти</a>
    </div>
    <nav>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">Поиск</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link nav__link--active">Новости</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Отзывы</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">О нас</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Контакты</a>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
  export default {
    name: 'TheHeader'
  }
</script>