.title__icon--search
  display: flex
  width: 40px
  height: 40px
  border: 1px solid #434343
  border-radius: 6px
  align-items: center
  justify-content: center
  font-size: 26px
  color: #000
  margin-right: 20px
  flex-shrink: 0