header

.header__inner
  display: flex
  align-items: center
  height: 125px
  max-width: 1375px
  padding: 0 100px
  margin: 0 auto

.logo
  display: flex
  align-items: center
  margin-right: auto
  user-select: none
  &:hover .logo__img
    transform: translateX(5px)

.logo__img
  height: 32px
  margin-right: 17px
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55)

.logo__text
  display: inline-flex
  font: $bold 25px $open-sans
  letter-spacing: 0.06em
  color: #000
  text-transform: uppercase

.text--orange
  color: $color-main

@media (max-width: 1024px)
  .logo__text
    display: none

  .header__inner
    padding: 0 15px

@media (max-width: 767px)
  .header__inner
    justify-content: space-around
    height: 100px

  .logo
    margin-right: 0

@media (max-width: 500px)
  .header__inner
    height: 80px