<template>
  <div id="app">
    <header-component></header-component>
    <!-- <register-page></register-page> -->
    <!-- <login-page></login-page> -->
    <!-- <pass-recovery></pass-recovery> -->
    <!-- <reviews-page></reviews-page> -->
    <!-- <news-page></news-page> -->
    <!-- <calc-page></calc-page> -->
    <!-- <about-page></about-page> -->
    <!-- <landing-page></landing-page> -->
    <!-- <search-page></search-page> -->
    <detail-page></detail-page>
    <footer-component></footer-component>
    <div class="side-overlay__left"></div>
    <div class="side-overlay__right"></div>
  </div>
</template>

<script>
  import TheHeader from './components/TheHeader.vue'
  import TheFooter from './components/TheFooter.vue'
  import LandingPage from './components/LandingPage.vue'
  import SearchPage from './components/SearchPage.vue'
  import DetailPage from './components/DetailPage.vue'
  import AboutPage from './components/AboutPage.vue'
  import CalcPage from './components/CalcPage.vue'
  import NewsPage from './components/NewsPage.vue'
  import ReviewsPage from './components/ReviewsPage.vue'
  import RegisterPage from './components/RegisterPage.vue'
  import LoginPage from './components/LoginPage.vue'
  import PassRecovery from './components/PassRecovery.vue'

  export default {
    name: 'app',
    data() {
      return {

      }
    },

    components: {
      'header-component': TheHeader,
      'footer-component': TheFooter,
      'landing-page': LandingPage,
      'search-page': SearchPage,
      'detail-page': DetailPage,
      'about-page': AboutPage,
      'calc-page': CalcPage,
      'news-page': NewsPage,
      'reviews-page': ReviewsPage,
      'register-page': RegisterPage,
      'login-page': LoginPage,
      'pass-recovery': PassRecovery,
    }
  }
</script>